<%= link_to 'Create a New Movie Link', new_movielink_path, class: "btn btn-success" %>
<br><br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Movies Link</div>
  <!-- Table -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Link</th>
        <th>Description</th>
        <th><center>Action</center></th>
      </tr>
    </thead>
    <tbody>
      <% @movielinks.each do |ml| %>
        <tr>
          <td width=5%><%= ml.id %></td>
          <td width=15%><%= ml.moviename %></td>
          <td width=45%><%= ml.movielink %></td>
          <td width=20%><%= ml.moviedescription %></td>
          <td width=15% style="text-align:center" >
            <div class="btn-group btn-group-sm">
              <%= link_to 'Edit', edit_movielink_path(ml), class: "btn btn-success" %>
              <%= link_to ' Delete', ml, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
