<p id="notice"><%= notice %></p>
<p>
  <strong>Notes:</strong>
  <%= @script.notes %>
</p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Project: <strong><%= @script.project %></strong></div>
  <!-- Table -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Step Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width=30%><strong>Point out the problem:</strong></td>
        <td width=80%><%= @script.step1 %></td>
      </tr>
      <tr>
        <td width=30%><strong>Indicate your solution:</strong></td>
        <td width=80%><%= @script.step2 %></td>
      </tr>
      <tr>
        <td width=30%><strong>Aggravate the problem:</strong></td>
        <td width=80%><%= @script.step3 %></td>
      </tr>
      <tr>
        <td width=30%><strong>Benefits of your solution:</strong></td>
        <td width=80%><%= @script.step4 %></td>
      </tr>
      <tr>
        <td width=30%><strong>Call for Action:</strong></td>
        <td width=80%><%= @script.step5 %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="btn-group btn-group-sm">
  <%= link_to 'Edit Project', edit_script_path(@script), class: "btn btn-success" %>
  <%= link_to ' Back', scripts_path, class: "btn btn-default" %>
</div>

