<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this script from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><center>Users List</center></div>
      <div class="panel-body">
        <div class="field">
          <label>Administrator
            <%= f.check_box :admin %></label>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.text_field :company, placeholder: "Company Name", :autofocus => true, class: "form-control", :rows => 4 %>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.text_field :first_name, placeholder: "First Name",  class: "form-control", :required => true, :rows => 4 %>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control", :required => true, :rows => 4 %>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.text_field :email, placeholder: "email", :autofocus => true, class: "form-control", :required => true, :rows => 4 %>
          <br><%= f.submit "Submit", class: "btn btn-success" %>
          <%= link_to "Cancel", allusers_path, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>


<% end %>
