<h1>Listing customerchats</h1>

<table>
  <thead>
    <tr>
      <th>Chattext</th>
      <th>Chataux</th>
      <th>Producer</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customerchats.each do |customerchat| %>
      <tr>
        <td><%= customerchat.chattext %></td>
        <td><%= customerchat.chataux %></td>
        <td><%= customerchat.producer_id %></td>
        <td><%= customerchat.user_id %></td>
        <td><%= link_to 'Show', customerchat %></td>
        <td><%= link_to 'Edit', edit_customerchat_path(customerchat) %></td>
        <td><%= link_to 'Destroy', customerchat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customerchat', new_customerchat_path %>
