<%= form_for(@projstatus) do |f| %>
  <% if @projstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projstatus.errors.count, "error") %> prohibited this projstatus from being saved:</h2>

      <ul>
      <% @projstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><center><b>Edit Status</b></center></div>
      <div class="panel-body">
        <div class="col-md-2">
          <div class="field">
            <%= f.label :ordertoshow, "Show Order" %><br>
            <%= f.text_field :ordertoshow, :autofocus => true, class: "form-control", :required => true %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="field">
            <%= f.label :statusname, "Status Name - " %>
            <i>Choose a Color:</i>
            <%= f.select :color, [['Red'], ['Blue'], ['Green'], ['Orange'], ['Black']], :prompt => "Choose a Color" %><br>
            <%= f.text_field :statusname, class: "form-control", :required => true %>
          </div>
        </div>
        <div class="col-md-3"><center>
          <div class="actions">
            <%= f.label  "Select Option" %><br>
            <%= f.submit "Submit", class: "btn btn-success" %>
            <%= link_to "Cancel", projstatuses_path, class: "btn btn-danger" %>
          </div></center>
        </div>
      </div>
    </div>
  </div>
<% end %>
