<%= form_for(@pymtreceived) do |rp| %>
  <% if @pymtreceived.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pymtreceived.errors.count, "error") %> prohibited this payment received from being saved:</h2>

      <ul>
      <% @pymtreceived.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><center>Edit Price</center></div>
      <div class="panel-body">
        <div class="col-md-2">
          <div class="field">
            <%= rp.label :project_id, "Project Id" %><br>
            <%= rp.text_field :project_id, :autofocus => true, class: "form-control", :required => true %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="field">
            <%= rp.label :amount, "Amount" %><br>
            <%= rp.text_field :amount, class: "form-control", :required => true %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= rp.label :control_1, "Control 1" %><br>
            <%= rp.text_field :control_1, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= rp.label :control_2, "Control 1" %><br>
            <%= rp.text_field :control_2, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="actions">
            <%= rp.label  "Select Option" %><br>
            <%= rp.submit "Submit", class: "btn btn-success" %>
            <%= link_to "Cancel", pymtreceiveds_path, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
