
<%= form_for(@pymt) do |f| %>
  <% if @pymt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pymt.errors.count, "error") %> prohibited this pymt from being saved:</h2>

      <ul>
      <% @pymt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><center>Edit Payment Status</center></div>
      <div class="panel-body">
        <div class="col-md-2">
          <div class="field">
            <%= f.label :order_to_show, "Show Order" %><br>
            <%= f.text_field :order_to_show, :autofocus => true, class: "form-control", :required => true %>
          </div>
        </div>
        <div class="col-md-5">
          <div class="field">
            <%= f.label :pymt_status, "Status Name" %><br>
            <%= f.text_field :pymt_status, class: "form-control", :required => true %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="field">
            <%= f.label :is_requestion_pymt, "Request Money?" %>
            <%= f.check_box :is_requesting_pymt, class: "form-control"%>
            
          </div>
        </div>
        <div class="col-md-3"><center>
          <div class="actions">
            <%= f.label  "Select Option" %><br>
            <%= f.submit "Submit", class: "btn btn-success" %>
            <%= link_to "Cancel", pymts_path, class: "btn btn-danger" %>
          </div></center>
        </div>
      </div>
    </div>
  </div>
<% end %>