<%= form_for(@movielink) do |f| %>
  <% if @movielink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movielink.errors.count, "error") %> prohibited this script from being saved:</h2>

      <ul>
      <% @movielink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><center>Movie Link Edit Screen</center></div>
      <div class="panel-body">
        <div class="field">
          <%= f.label :moviename, "Name" %><br>
          <%= f.text_field :moviename, placeholder: "Movie Name", :autofocus => true, :required => true, class: "form-control", :rows => 4 %>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.label :movielink, "Link" %><br>
          <%= f.text_area :movielink, placeholder: "http Link",  class: "form-control", :required => true, :rows => 4 %>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.label :moviedescription, "Description" %><br>
          <%= f.text_area :moviedescription, placeholder: "Description", class: "form-control", :rows => 4 %>
          <br><%= f.submit "Submit", class: "btn btn-success" %>
          <%= link_to "Cancel", movielinks_path, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>

<% end %>

