<%= form_for @myimage, html:{:multipart => true} do |f| %>

  <% if @myimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myimage.errors.count, "error") %> prohibited this myimage from being saved:</h2>

      <ul>
      <% @myimage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="col-md-4" style="float:none; margin:auto">
    <div class="panel panel-default">
      <div class="panel-heading"><center><%= t('proj_images.image_screen') %></center></div>
      <div class="panel-body">
        <div class="field">
          <%= f.file_field :image,  class: "form-control btn btn-warning" %>
        </div>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.label :image_name, (t('proj_images.image_name')) %>
          <%= f.text_field :image_name, placeholder: (t('proj_images.image_name')),  class: "form-control", :required => true %><br>
        </div>
        <div class="field">
          <label><%= t('proj_images.hidde_this_image') %>
            <%= f.check_box :image_hidden %></label>
        </div>
      </div>
      <div class="panel-body">
        <div class="actions">
          <br>
          <%= f.submit (t('proj_images.accept_image')), disable_with: 'Uploading...', class: "btn btn-success" %>
          <%= link_to (t('proj_images.cancel')), myimages_path, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>
